     <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CV SO COOL</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename = 'cv.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">

<style>
p.a {
    font: 18px Roboto Condensed, sans-serif;
    text-align: center;
}
h2.a {
    font: 25px Roboto Condensed, sans-serif;
    font-weight: bold;
    color: rgb(38,50,56);
}
</style>
 </head>
 <body>
    <!-- HEADER -->
    <header class="head">
        <div class="head_content">
            <img src="../static/img/CV 1.png" alt="logo" height="60px">
            <ul>
                <td >
                    <li class="active"><a href="">Home</a></li>
                    <li><a href="">Login</a></li>
                    <li><a id="a" href="">About us</a></li>
                </td>
            </ul>
        </div>
    </header>
    
    <!-- INTRO -->
    <div id="cvbuilder-container">
        <div class="container">
            <div id="cv-layout-container">
                <div id="cv-layout">
                    <div class="h2_line">
                        <img class="a" src="../static/img/line.png" alt="">
                    </div>
                    <p class="a">Đến với thời kỳ công nghệ số, bạn cần một CV ứng tuyển mới mẻ, bạn muốn thể hiện cá tính và năng lực.</p><br>
                    <p class="a">Để giúp bạn có CV đẹp hơn CV FOR YOU cung cấp cho bạn nhiều mẫu CV đẹp, phù hợp với nhu cầu ứng tuyển các vị 
                        trí khác nhau. Tương tác trực quan, dễ dàng chỉnh sửa thông tin, tạo CV online nhanh chóng.
                    </p>
                    <div class="h2_line">
                            <h2 class="a">CV TIÊU BIỂU</h2>
                            <img src="../static/img/line.png" alt="">
                    </div>
                    <!-- <p class="a">a</p><br>
                    <p class="a">b -->
                    </p>
                </div> 

            </div>
    <div id="demo">
        <a href="file:///D:/Full%20front-end/00.%20CV/templates/CV%2001.html"><img src="../static/img/Img CV 1.png" alt=""></a>
        <img src="../static/img/Img CV 1.png" alt="">
        <img src="../static/img/Img CV 1.png" alt="">
        <img src="../static/img/Img CV 1.png" alt="">
        <img src="../static/img/Img CV 1.png" alt="">
    </div>
    <div id="aboutus">
        <div id="aboutus01">
            <h1>OUR TEAM</h1>
             <p>
                Với mục đích giúp bạn mở con đường đến thành công thì team chúng mình gồm 5 người vô cùng nhiệt huyết được dẫn dắt bỏi leader vô cùng thông minh
            </p>
        </div>
    
        <div id="aboutus02">
            <div id="s">
                <img src="../static/img/Son veu 1.png" alt="" height="200px"/>
                <h5>Sơn Vũ</h5>
                <ul>
                    <li>2000</li>
                    <li>Kĩ Thuật Phần Mềm</li>
                    <li>FPT UNIVERSITY</li>
                </ul>
            </div>
            <div id="t">
                <img src="../static/img/Thien lanh.png" alt="" height="200px"/>
                <h5>Thiện Lành</h5>
                <ul>
                    <li>1999</li>
                    <li>Toán Tin</li>
                    <li>Đại Học Khoa học Tự nhiên</li>
                </ul>
            </div>
            <div id="m">
                <img src="../static/img/Minh 404.png" alt="" height="200px"/>
                <h5>Minh 404</h5>
                <ul>
                    <li>1998</li>
                    <li>Toán Ứng Dụng</li>
                    <li>Đại Học Thăng Long</li>
                </ul>
            </div>
            <div id="k">
                <img src="../static/img/Kien tien ty.png" alt="" height="200px"/>
                <h5>Kiên Tiền Tỷ</h5>
                <ul>
                    <li>1997</li>
                    <li>Công Nghệ Thông Tin</li>
                    <li>Đại Học Hà Nội</li>
                </ul>
            </div>
            <div id="q">
                    <img src="../static/img/Quang faker.png" alt="" height="200px"/>
                    <h5>Quang Faker</h5>
                    <ul>
                        <li>1993</li>
                        <li>Leader Cute</li>
                        <li>Job Tự Do</li>
                    </ul>
            </div>

        </div>
        <div id="last">
            <img src="https://ocuaso.com/wp-content/uploads/2017/05/50-dong-status-khat-vong-va-danh-ngon-hay-ve-chi-huong-vuon-len-2.jpg" alt="" width="px">
            
        </div>
            

    </div>
                 

     

 </body>
 </html>