     <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CV SO COOL</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/cv.css">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='cv.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
p.a {
    font: 18px Roboto Condensed, sans-serif;
    text-align: center;
}
h2.a {
    font: 25px Roboto Condensed, sans-serif;
    font-weight: bold;
    color: rgb(38,50,56);
}
body{
    height:1930px;
}
#bq{
    position: relative;
    top:572px;
    font-size: 20px;
    font-weight:-1000;
    left:-170px;
}
/* #contact{
    height:280px;
}
#contact #fb{
    position: absolute;
    top:240px;
    left:10px;
} */
</style>
 </head>
 <body>
    <!-- HEADER -->
    <header class="head">
        <div class="head_content">
            <img src="../static/img/CV 1.png" alt="logo" height="60px">
            <ul>
                <td >
                    <li class="active"><a href="">Home</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a id="a" href="#aboutus">About us</a></li>
                </td>
            </ul>
        </div>
    </header>
    
    <!-- INTRO -->
    <div id="cvbuilder-container">
        <div class="container">
            <div id="cv-layout-container">
                <div id="cv-layout">
                    <div class="h2_line">
                        <img class="a" src="../static/img/line.png" alt="">
                    </div>
                    <p class="a">Đến với thời kỳ công nghệ số, bạn cần một CV ứng tuyển mới mẻ, bạn muốn thể hiện cá tính và năng lực.</p><br>
                    <p class="a">Để giúp bạn có CV đẹp hơn CV FOR YOU cung cấp cho bạn nhiều mẫu CV đẹp, phù hợp với nhu cầu ứng tuyển các vị 
                        trí khác nhau. Tương tác trực quan, dễ dàng chỉnh sửa thông tin, tạo CV online nhanh chóng.
                    </p>
                    <div class="h2_line">
                            <h2 class="a">CV TIÊU BIỂU</h2>
                            <img src="../static/img/line.png" alt="">
                    </div>
                    <!-- <p class="a">a</p><br>
                    <p class="a">b -->
                    </p>
                </div> 

            </div>
    <div id="demo">
        <a href="/interface"><img src="../static/img/Img CV 1.png" alt="" title="click để xem"></a>
        <a href="https://d1hlp2khpgx7qe.cloudfront.net/confidential/f29cc1fb981d6e450d0092680c5e70f8.png"><img src="https://d1hlp2khpgx7qe.cloudfront.net/confidential/f29cc1fb981d6e450d0092680c5e70f8.png" alt="" title="click để xem" ></a>
        <a href="https://www.topcv.vn/v3/images/seo/cv-la-gi-hinh-1.png"><img src="https://www.topcv.vn/v3/images/seo/cv-la-gi-hinh-1.png" alt=""  title="click để xem"></a>
        <a href="https://d1hlp2khpgx7qe.cloudfront.net/confidential/5c95214b30c0521f894887077ed043e3.png"><img src="https://d1hlp2khpgx7qe.cloudfront.net/confidential/5c95214b30c0521f894887077ed043e3.png" alt=""  title="click để xem"></a>
        <a href="https://viectotnhat.com/asset/default/img/cv/CV2_C52B27.png"><img src="https://viectotnhat.com/asset/default/img/cv/CV2_C52B27.png" alt=""  title="click để xem"></a>
    </div>
    <div id="aboutus">
        <div id="aboutus01">
            <h1>OUR TEAM</h1>
             <p>
                Với mục đích giúp bạn mở con đường đến thành công thì team chúng mình gồm 5 người vô cùng nhiệt huyết được dẫn dắt bỏi leader vô cùng thông minh
            </p>
        </div>
    
        <div id="aboutus02">
            <div id="s">
                <a href="https://www.facebook.com/profile.php?id=100025651720790" title="Click để xem"><img src="../static/img/Son veu 1.png" alt="" height="200px"/></a>
                <h5>Sơn Vũ</h5>
                <ul>
                    <li>2000</li>
                    <li>Kĩ Thuật Phần Mềm</li>
                    <li>FPT UNIVERSITY</li>
                </ul>
            </div>
            <div id="t">
                <a href="https://www.facebook.com/tuong.ha.142240" title="click để xem"><img src="../static/img/Thien lanh.png" alt="" height="200px"/></a>
                <h5>Thiện Lành</h5>
                <ul>
                    <li>1999</li>
                    <li>Máy tính và khoa học thông tin</li>
                    <li>Đại Học Khoa học Tự nhiên</li>
                </ul>
            </div>
            <div id="m">
                <a href="https://www.facebook.com/galaxy.marsss" title="click để xem"><img src="../static/img/Minh 404.png" alt="" height="200px"/></a>
                <h5>Minh 404</h5>
                <ul>
                    <li>1998</li>
                    <li>Toán Ứng Dụng</li>
                    <li>Đại Học Thăng Long</li>
                </ul>
            </div>
            <div id="k">
                <a href="https://www.facebook.com/kaisertran97" title="click để xem"><img src="../static/img/Kien tien ty.png" alt="" height="200px"/></a>
                <h5>Kiên Tiền Tỷ</h5>
                <ul>
                    <li>1997</li>
                    <li>Công Nghệ Thông Tin</li>
                    <li>Đại Học Hà Nội</li>
                </ul>
            </div>
            <div id="q">
                    <a href="https://www.facebook.com/truong.quang.298" title="click để xem"><img src="../static/img/Quang faker.png" alt="" height="200px"/></a>
                    <h5>Quang Faker</h5>
                    <ul>
                        <li>1993</li>
                        <li>Leader Cute</li>
                        <li>Job Tự Do</li>
                    </ul>
            </div>

        </div>
    </div>
        <div id="think">
            <h1>Nếu không phiền hãy cho chúng tôi biết cảm nhận của bạn.</h1>
            
            <input type="text" name="" id="in1" placeholder="Your message">
            <input type="button" id="bu1" value="SEND" >
        </div>
        <div id="contact">
            <h1>CONTACT INFO</h1>
            <img src="../static/img/address (1).png" alt="" id="img1"/>
            <h5 id="ct1">  Address:Tầng 6,22 Thành Công,Quận Ba Đình,Hà Nội.</h5>
            <img src="../static/img/phone.png" alt="" id="img2">
            <h5 id="ct2">Contact:0854486228.</h5>
            <img src="../static/img/gmail.png" alt="" id="img3">
            <h5 id="ct3">Gmail:sonvhhhe141043@fpt.edu.vn</h5>
            <!-- <img src="../static/img/facebook (1).png" alt="" id="fb"> -->
        </div>
        <h5 id="bq">Bản quyền thuộc về team STMKQ.Vui lòng không sao chép dưới mọi hình thức@</h5>
            

    
                 

     

 </body>
 </html>