 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Code for everyone</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="../static/css/style.css">
     <link rel="stylesheet" href="../static/css/cv.css">
     <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
     <!-- <link id="cv-font" rel="stylesheet" href="https://www.topcv.vn/packages/cvo/templates//onepage_impressive_2/fonts/default.css?v=2.1.2"> -->
     <!-- <link id="cv-font-size-css" rel="stylesheet" href="https://www.topcv.vn/packages/cvo/templates//onepage_impressive_2/font-sizes/font_normal.css?v=2.1.2"> -->
     <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
     <!-- <link id="cv-spacing-css" rel="stylesheet" href="https://www.topcv.vn/packages/cvo/templates//onepage_impressive_2/spacing/spacing_normal.css?v=2.1.2"> -->
 </head>
 <body>
    <!-- HEADER -->
        <header class="head">
            <div class="head_content">
                <img src="../static/img/CV 1.png" alt="logo" height="60px">
                <ul>
                    <td >
                        <li class="active"><a href="/home">Home</a></li>
                        <li><a href="/login">Login</a></li>
                    </td>
                </ul>
            </div>
        </header>
        <div id="cvbuilder-container">
                <div class="container">
                    <div id="cv-layout-container">
                        <div id="cv-layout">
                            <div id="cv-title" class="non-printable" maxlength="64" cvo-placeholder="Tiêu đề CV">Quang'CV</div>
                            <div id="cvo-document-root">
                                <div id="cvo-document" class="cvo-document">
                                    <div class="cvo-page">
                                        <div class="cvo-subpage">
                                            <div id="cvo-body">
                                                <!--Header-->
                                                <div id="cvo-main">
                                                    <div id="col-left">
                                                        <!-- #group-top-left -->
                                                        <div id="group-top-left">
                                                            <div id="cvo-profile" class="cvo-block">
                                                                <div id="profile-title-wrapper">
                                                                    <div id="cvo-profile-avatar-wraper">
                                                                        <img id="cvo-profile-avatar" src="../static/img/quang avatar.jpg" alt="avatar" name="cvoData[profile][avatar]" type="image">
                                                                    </div>
                                                                    <div>
                                                                        <span id="cvo-profile-fullname" name="cvoData[profile][fullname]" type="text" class="default_min_width" maxlength="64" cvo-placeholder="Họ tên">Trương Văn Quang</span>
                                                                        <br>
                                                                        <span id="cvo-profile-title" name="cvoData[profile][title]" type="text" class="default_min_width" maxlength="512" cvo-placeholder="Vị trí công việc bạn muốn ứng tuyển">kỹ sư Thiết kế đường</span>
                                                                    </div>
                                                                </div>
                                                                <div id="profile-contact-wraper">
                                                                    <div id="cvo-profile-dob-wraper">
                                                                        <i class="fa fa-calendar"></i>
                                                                        <span id="cvo-profile-dob" name="cvoData[profile][dob]" type="text" class="default_min_width" maxlength="128" cvo-placeholder="Ngày sinh (không bắt buộc nhập)">22/09/1993</span>
                                                                    </div>
                                                                    <div id="cvo-profile-gender-wraper">
                                                                        <i class="fa fa-user"></i>
                                                                        <span id="cvo-profile-gender" name="cvoData[profile][gender]" type="text" class="default_min_width" maxlength="128" cvo-placeholder="Giới tính (không bắt buộc nhập)">Nam</span>
                                                                    </div>
                                                                    <div id="cvo-profile-phone-wraper">
                                                                        <i class="fa fa-phone"></i>
                                                                        <span id="cvo-profile-phone" name="cvoData[profile][phone]" type="text" class="default_min_width" maxlength="256" cvo-placeholder="Số điện thoại">01673078393</span>
                                                                    </div>
                                                                    <div id="cvo-profile-email-wraper">
                                                                        <i class="fa fa-envelope-square"></i>
                                                                        <span id="cvo-profile-email" name="cvoData[profile][email]" type="text" class="default_min_width" maxlength="512" cvo-placeholder="Địa chỉ email">truongquanggt@gmail.com</span>
                                                                    </div>
                                                                    <div id="cvo-profile-address-wraper">
                                                                        <i class="fa fa-map-marker"></i>
                                                                        <span id="cvo-profile-address" name="cvoData[profile][address]" type="text" class="default_min_width" maxlength="1024" cvo-placeholder="Địa chỉ hiện tại">Số 99, ngõ 1194, đường Láng, Đống Đa, Hà Nội</span>
                                                                    </div>
                                                                    <div id="cvo-profile-website-wraper">
                                                                        <i class="fa fa-info"></i>
                                                                        <span id="cvo-profile-website" name="cvoData[profile][website]" type="text" class="default_min_width" maxlength="512" cvo-placeholder="Website, Facebook, Blog...">http://fb.com/truong.quang.298</span>
                                                                    </div>
                                                                </div>
                                                                <div style="clear: both"></div>
                                                            </div>
                                                            <!-- FIXED GROUP -->
                                                        </div>
                                                        <!-- END #group-top-left -->
                                                        <div id="group-bottom-left">
                                                            <div id="cvo-objective" class="cvo-block" style="display: block;">
                                                                <div class="cvo-block-title no-horizontal-line">
                                                                    <span id="cvo-objective-blocktitle" name="cvoData[objective_meta][blocktitle]" type="text" class="default_min_width" maxlength="1024" cvo-placeholder="Tiêu đề mục lớn">Nhận xét bản thân</span>
                                                                </div>
                                                                <div id="cvo-objective-objective" name="cvoData[objective][objective]" type="text" class="default_min_width" contenteditable="true" maxlength="4096" cvo-placeholder="Mục tiêu nghề nghiệp: ngắn hạn, dài hạn.">
                                                                    - Người chăm chỉ, năng động, thích học hỏi
                                                                    <br> 
                                                                    - Nhận thức nhanh
                                                                    <br>
                                                                    - Trách nhiệm trong công việc
                                                                    <br>
                                                                    - Biết phấn đấu và phát triển bản thân
                                                                    <br>
                                                                </div>
                                                            </div>
                                                            <div id="cvo-interest" class="cvo-block" style="display: block;">
                                                                <div class="cvo-block-title">
                                                                    <span id="cvo-interest-blocktitle" name="cvoData[interest_meta][blocktitle]" type="text"  class="default_min_width" maxlength="1024" cvo-placeholder="Tiêu đề mục lớn">Sở thích</span>
                                                                </div>
                                                                <ul id="interest-table">
                                                                    <li class="row" type="fieldgroup">
                                                                        <span class="cvo-interest-details default_min_width" name="cvoData[interest][@index][title]" type="text" maxlength="512" cvo-placeholder="Sở thích">Sách khoa học vật lý</span>
                                                                    </li>
                                                                    <li class="row" type="fieldgroup">
                                                                        <span class="cvo-interest-details default_min_width" name="cvoData[interest][@index][title]" type="text" maxlength="512" cvo-placeholder="Sở thích">Đi bộ- nghe nhạc</span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div id="cvo-skillrate" class="cvo-block" style="display: none;">
                                                                <div class="cvo-block-title">
                                                                    <span id="cvo-skillrate-blocktitle" name="cvoData[skillrate_meta][blocktitle]" type="text" maxlength="1024" cvo-placeholder="Tiêu đề mục lớn">Kỹ năng</span>
                                                                </div>
                                                                <div id="skillrate-table">
                                                                    <div class="row" type="fieldgroup">
                                                                        <span class="cvo-skillrate-title default_min_width" name="cvoData[skillrate][@index][title]" type="text" maxlength="512" cvo-placeholder="Tên kỹ năng">Tin học văn phòng</span>
                                                                    </div>
                                                                    <div class="row" type="fieldgroup">
                                                                        <span class="cvo-skillrate-title default_min_width" name="cvoData[skillrate][@index][title]" type="text" maxlength="512" cvo-placeholder="Tên kỹ năng">AutoCad</span>
                                                                    </div>
                                                                    <div class="row" type="fieldgroup">
                                                                        <span class="cvo-skillrate-title default_min_width" name="cvoData[skillrate][@index][title]" type="text"maxlength="512" cvo-placeholder="Tên kỹ năng">ADS road</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- END #col-left -->
                                                    <!-- #col-right -->
                                                    <div id="col-right">
                                                        <div id="group-col-right">
                                                            <div id="cvo-education" class="cvo-block">
                                                                <div class="cvo-block-title">
                                                                    <span><i class="fa fa-graduation-cap"></i></span>
                                                                    <span id="cvo-education-blocktitle" name="cvoData[education_meta][blocktitle]" type="text" maxlength="1024" cvo-placeholder="Tiêu đề mục lớn">Học vấn</span>
                                                                </div>
                                                                <div id="education-table">
                                                                    <div class="row " type="fieldgroup">
                                                                        <div class="row-title">
                                                                            <div class="cvo-education-school-wraper">
                                                                                <span class="cvo-education-school default_min_width" name="cvoData[education][@index][school]" type="text" maxlength="512" cvo-placeholder="Tên trường học">Đại học Giao thông vận tải</span>
                                                                            </div>
                                                                            <div class="cvo-education-time">
                                                                                <span class="cvo-education-start default_min_width" name="cvoData[education][@index][start]" type="text" maxlength="256" cvo-placeholder="Bắt đầu">09/2011</span>
                                                                                <span class="cvo-education-end default_min_width" name="cvoData[education][@index][end]" type="text" maxlength="256" cvo-placeholder="Kết thúc">01/2016</span>
                                                                            </div>
                                                                            <div style="clear:both;"></div>
                                                                            <div>
                                                                                <span class="cvo-education-title default_min_width" name="cvoData[education][@index][title]" type="text" maxlength="512" cvo-placeholder="Ngành học / Môn học">Cầu - Hầm</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row-details">
                                                                            <div class="cvo-education-details default_min_width" name="cvoData[education][@index][details]" type="text" maxlength="4096" cvo-placeholder="Mô tả chi tiết">Sinh viên:Tốt nghiệp loại Khá, điểm trung bình 7,63/10,0</div>
                                                                        </div>
                                                                        <div style="clear:both;"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div id="cvo-experience" class="cvo-block" style="display: block;">
                                                                <div class="cvo-block-title">
                                                                    <span><i class="fa fa-briefcase"></i></span>
                                                                    <span id="cvo-experience-blocktitle" name="cvoData[experience_meta][blocktitle]" type="text" maxlength="1024" cvo-placeholder="Tiêu đề mục lớn">Kinh nghiệm làm việc</span>
                                                                </div>
                                                                <div id="experience-table">
                                                                    <div class="row " type="fieldgroup">
                                                                        <div class="row-title">
                                                                            <div class="cvo-experience-company-wraper">
                                                                                <span class="cvo-experience-company default_min_width" name="cvoData[experience][@index][company]" type="text" maxlength="512" cvo-placeholder="Tên công ty">Công ty Cổ phần tư vấn đầu tư và xây dựng công trình giao thông</span>
                                                                            </div>
                                                                            <div class="cvo-experience-time">
                                                                                <span class="cvo-experience-start default_min_width" name="cvoData[experience][@index][start]" type="text" maxlength="256" cvo-placeholder="Bắt đầu">06/2016</span>
                                                                                <span class="cvo-experience-end default_min_width" name="cvoData[experience][@index][end]" type="text" maxlength="256" cvo-placeholder="Kết thúc">Hiện tại</span>
                                                                            </div>
                                                                            <div style="clear:both;"></div>
                                                                            <div>
                                                                                <span class="cvo-experience-position default_min_width" name="cvoData[experience][@index][position]" type="text" maxlength="512" cvo-placeholder="Vị trí công việc">Kỹ sư khảo sát, thiết kế</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row-details">
                                                                            <div class="cvo-experience-details default_min_width" name="cvoData[experience][@index][experience]" type="text" maxlength="4096" cvo-placeholder="Mô tả chi tiết công việc, những gì đạt được trong quá trình làm việc.">
                                                                                - Tham gia thiết kế hạng mục đường đầu cầu, thoát nước cầu vượt Ô Đông Mác - Nguyễn Khoái, Hai Bà Trưng, Hà Nội.
                                                                                <br>
                                                                                - Khảo sát thiết kế dự án Đường số 1 và Đường số 1 nối dài thị xã Ngã Bảy, tỉnh Hậu Giang: các hạng mục nền mặt đường, thoát nước và tổ chức giao thông.
                                                                                <br>
                                                                                - Khảo sát, thiết kế công trình xén hè đường Trần Duy Hưng.
                                                                                <br>
                                                                                - Khảo sát, thiết kế công trình xén hè đường Phạm Hùng.
                                                                                <br>
                                                                                - Tham gia thẩm tra an toàn giao thông BOT QL18 Km20+000 - Km77+500
                                                                                <br>
                                                                                ...
                                                                                <br>
                                                                            </div>
                                                                        </div>
                                                                        <div style="clear:both;"></div>
                                                                    </div>
                                                                    <div class="row " type="fieldgroup">
                                                                        <div class="row-title">
                                                                            <div class="cvo-experience-company-wraper">
                                                                                <span class="cvo-experience-company default_min_width" name="cvoData[experience][@index][company]" type="text" maxlength="512" cvo-placeholder="Tên công ty">Công ty Cổ phần tư vấn đầu tư và xây dựng công trình giao thông</span>
                                                                            </div>
                                                                            <div class="cvo-experience-time">
                                                                                <span class="cvo-experience-start default_min_width" name="cvoData[experience][@index][start]" type="text" maxlength="256" cvo-placeholder="Bắt đầu">06/2015</span>
                                                                                <span class="cvo-experience-end default_min_width" name="cvoData[experience][@index][end]" type="text" maxlength="256" cvo-placeholder="Kết thúc">06/2016</span>
                                                                            </div>
                                                                            <div style="clear:both;"></div>
                                                                            <div>
                                                                                <span class="cvo-experience-position default_min_width" name="cvoData[experience][@index][position]" type="text" maxlength="512" cvo-placeholder="Vị trí công việc">Thực tập, hỗ trợ công việc</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row-details">
                                                                            <div class="cvo-experience-details default_min_width" name="cvoData[experience][@index][experience]" type="text" maxlength="4096" cvo-placeholder="Mô tả chi tiết công việc, những gì đạt được trong quá trình làm việc.">
                                                                                - Tham gia khảo sát cầu Cần Kiệm, Thạch Thất, Hà Nội.
                                                                                <br>
                                                                                - Tham gia khảo sát sửa chữa đường Quốc lộ 32 đoạn Km46-Km48.
                                                                                <br>
                                                                            </div>
                                                                        </div>
                                                                        <div style="clear:both;"></div>
                                                                    </div>
                                                                </div>
                                                                <div style="clear: both"></div>
                                                            </div>
                                                            <div id="cvo-award" class="cvo-block">
                                                                <div class="cvo-block-title">
                                                                    <span><i class="fa fa-trophy"></i></span>
                                                                    <span id="cvo-award-blocktitle" name="cvoData[award_meta][blocktitle]" type="text" maxlength="1024" cvo-placeholder="Tiêu đề mục lớn">Giải thưởng</span>
                                                                </div>
                                                                <div id="award-table">
                                                                    <div class="row " type="fieldgroup">
                                                                        <div class="row-title">
                                                                            <div class="cvo-award-title-wraper">
                                                                                <span class="cvo-award-title default_min_width" name="cvoData[award][@index][title]" type="text" maxlength="1024" cvo-placeholder="Tên giải thưởng">Học bổng sinh viên giỏi</span>
                                                                            </div>
                                                                            <div class="cvo-award-time-wraper">
                                                                                <span class="cvo-award-time default_min_width" name="cvoData[award][@index][award_time]" type="text" maxlength="256" cvo-placeholder="Thời gian">2013-2016</span>
                                                                            </div>
                                                                            <div style="clear:both;"></div>
                                                                        </div>
                                                                        <div style="clear:both;"></div>
                                                                    </div>
                                                                </div>
                                                                <div style="clear: both"></div>
                                                            </div>
                                                            <div class="cvo-block" id="cvo-reference">
                                                                <div class="cvo-block-title">
                                                                    <span><i class="fa fa-bookmark-o"></i>
                                                                    </span><span id="cvo-reference-blocktitle" name="cvoData[reference_meta][blocktitle]" type="text" maxlength="1024" cvo-placeholder="Tiêu đề mục lớn">Kỹ năng</span>
                                                                </div>
                                                                <div id="reference-table">
                                                                    <div class="row" type="fieldgroup">
                                                                        <span class="cvo-reference-content color-content default_min_width" name="cvoData[reference][@index][content]" type="text" maxlength="4096" cvo-placeholder="Thông tin người liên hệ">
                                                                            - Tin học văn phòng: Sử dụng thành thạo word, excell,...
                                                                            <br>
                                                                            - Phần mềm:
                                                                            <br>
                                                                            + Sử dụng thành thạo AutoCad;
                                                                            <br>
                                                                            + Sử dụng thành thạo phần mềm thiết kế đường: ADS Road
                                                                            <br>
                                                                            + Sử dụng được phần mềm tính ổn định trượt Geoslope
                                                                            <br>
                                                                            - Sử dụng thành thạo máy thủy bình, máy toàn điện tử Topcon
                                                                            <br>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div style="clear: both;"></div>
                                                            </div>
                                                            <div id="cvo-certification" class="cvo-block">
                                                                <div class="cvo-block-title">
                                                                    <span><i class="fa fa-file-text-o"></i></span>
                                                                    <span id="cvo-certification-blocktitle" name="cvoData[certification_meta][blocktitle]" type="text" class="default_min_width" maxlength="1024" cvo-placeholder="Tiêu đề mục lớn">Chứng chỉ</span>
                                                                </div>
                                                                <div id="certification-table">
                                                                    <div class="row " type="fieldgroup">
                                                                        <div class="row-title">
                                                                            <div class="cvo-certification-title-wraper">
                                                                                <span class="cvo-certification-title default_min_width" name="cvoData[certification][@index][title]" type="text" maxlength="1024" cvo-placeholder="Tên chứng chỉ">Certification</span>
                                                                            </div>
                                                                            <div class="cvo-certification-time-wraper">
                                                                                <span class="cvo-certification-time default_min_width" name="cvoData[certification][@index][certification_time]" type="text" maxlength="256" cvo-placeholder="Thời gian">2019</span>
                                                                            </div>
                                                                            <div style="clear:both;"></div>
                                                                        </div>
                                                                        <div style="clear:both;"></div>
                                                                    </div>
                                                                </div>
                                                                <div style="clear: both"></div>
                                                            </div>
            
                                                            <div class="cvo-block" id="cvo-additional-info">
                                                                <div class="cvo-block-title">
                                                                    <span><i class="fa fa-pencil"></i></span>
                                                                    <span id="cvo-additional-info-blocktitle" name="cvoData[additional_info_meta][blocktitle]" type="text" class="default_min_width" maxlength="1024" cvo-placeholder="Tiêu đề mục lớn">Thông tin thêm</span>
                                                                </div>
                                                                <div id="cvo-additional-information-details" name="cvoData[additional_info][details]" type="text" class="default_min_width" maxlength="4096" cvo-placeholder="Điền thêm thông tin khác (nếu có)">Điền các thông tin khác (nếu có)</div>
                                                            </div>
            
                                                        </div>
                                                    </div>
                                                    <!-- END #col-right -->
                                                    <div style="clear: both;"></div>
                                                </div>
                                                <div style="clear: both;"></div>
                                            </div>
                                            <div id="cv-watermark">
                                                cv for you
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


 </body>
 </html>