<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sightengine demo - Python and Flask</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/app.css') }}">
</head>

<body>
<header class="navbar">
  <form action="/upload" method="post" enctype="multipart/form-data" >
      <span class="btn btn-default btn-file">
        Browse <input type="file" name="image">
      </span>

    <input type="submit" value="Upload your image" class="btn btn-primary">
  </form>
  <input type="file" name="image" onchange="onFileSelected(event)">
  <img id="myimage" height="200">
  <script type="text/javascript">
    function onFileSelected(event){
      var selectedFile = event.target.files[0];
      var reader = new FileReader();

      var imgtag = document.getElementById("myimage");
      imgtag.title = selectedFile.name;

      reader.onload = function(event){
        imgtag.src = event.target.result;

      };
      reader.readAsDataURL(selectedFile);
    }
  </script>

  <span class="navbar-text"> Image moderation with
      <a href="https://sightengine.com/">Sightengine</a>
  </span>
</header>

</body>
</html>