<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css') }}">
    <title>Food</title>
</head>
<body>
<div class="grid-container">
    <div class ="lcontent">
    f_list
    <h1>FOOD LIST</h1>

    {% for f in f_list%}
        <h3>{{ f.name }}</h3>
        <div>{{ f.price }}</div>
        <a href="/food/{{ f._id }}">Detail</a>
    {% endfor %}
</div>
</div>
</body>
</html>