<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page_Oto</title>
</head>
<body>
    <form method="POST">
        
        <h2>Model <br>
            <input type="text" name="producer" placeholder="lamborghini" />
        </h2>
        <h2>Color <br>
            <input type="text" name="color" placeholder="black or white" />
        </h2>
        <h2>Price <br>
            <input type="number" name="price" placeholder="20x10^9">
        </h2>
        <button style="border:2px solid Violet;color:Tomato;">Submit</button>
    </form>
</body>
</html>